In [1]:
import numpy as np
import pandas as pd

In [12]:
from numpy.random import randn

In [13]:
np.random.seed(101)

In [14]:
outside = 'G1 G1 G1 G2 G2 G2'.split()
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [15]:
hier_index

MultiIndex(levels=[['G1', 'G2'], [1, 2, 3]],
           labels=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [20]:
df = pd.DataFrame(randn(6,2),hier_index,['A','B'])

In [21]:
df

             A         B
G1 1  0.188695 -0.758872
   2 -0.933237  0.955057
   3  0.190794  1.978757
G2 1  2.605967  0.683509
   2  0.302665  1.693723
   3 -1.706086 -1.159119

In [22]:
df.loc['G1']

          A         B
1  0.188695 -0.758872
2 -0.933237  0.955057
3  0.190794  1.978757

In [27]:
df.loc['G1'].loc[1]

A    0.188695
B   -0.758872
Name: 1, dtype: float64

# Give names to the indexes

In [28]:
df.index.names

FrozenList([None, None])

In [29]:
df.index.names = ['Groups','Num']

In [30]:
df

                   A         B
Groups Num
G1     1    0.188695 -0.758872
       2   -0.933237  0.955057
       3    0.190794  1.978757
G2     1    2.605967  0.683509
       2    0.302665  1.693723
       3   -1.706086 -1.159119

In [34]:
df.loc['G2']

            A         B
Num
1    2.605967  0.683509
2    0.302665  1.693723
3   -1.706086 -1.159119

In [35]:
df.loc['G2'].loc[2]

A    0.302665
B    1.693723
Name: 2, dtype: float64

In [36]:
df.loc['G2'].loc[2]['B']

1.693722925204035

In [40]:
# cross section method
df.xs('G1')

            A         B
Num
1    0.188695 -0.758872
2   -0.933237  0.955057
3    0.190794  1.978757

In [41]:
df.xs(1,level='Num')

               A         B
Groups
G1      0.188695 -0.758872
G2      2.605967  0.683509